<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="kadoco"
        >
            <label>Kadoco</label>
        </tab>
        <section id="youtube"
                 translate="label"
                 type="text"
                 sortOrder="500"
                 showInDefault="1"
                 showInWebsite="1"
                 showInStore="1"
        >
            <class>separator-top</class>
            <label>YouTube</label>
            <tab>kadoco</tab>
            <resource>Magento_Backend::admin</resource>
            <group id="configuration"
                   translate="label"
                   type="text"
                   sortOrder="20"
                   showInDefault="1"
                   showInWebsite="1"
                   showInStore="1"
            >
                <label>YouTube configuration</label>

                <field
                    id="active"
                    translate="label"
                    type="select"
                    sortOrder="20"
                    showInDefault="1"
                    showInWebsite="1"
                    showInStore="1"
                >
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>

                <field id="api"
                       translate="label"
                       type="text"
                       sortOrder="40"
                       showInDefault="1"
                       showInWebsite="1"
                       showInStore="1"
                >
                    <label>API access token</label>
                    <depends>
                        <field id='active'>1</field>
                    </depends>
                </field>


                <field id="url"
                       translate="label"
                       type="text"
                       sortOrder="60"
                       showInDefault="1"
                       showInWebsite="1"
                       showInStore="1"
                >
                    <label>YouTube url</label>
                    <depends>
                        <field id='active'>1</field>
                    </depends>
                </field>


                <field id="channelid"
                       translate="label"
                       type="text"
                       sortOrder="60"
                       showInDefault="1"
                       showInWebsite="1"
                       showInStore="1"
                >
                    <label>Channel id</label>
                    <depends>
                        <field id='active'>1</field>
                    </depends>
                </field>
            </group>
        </section>
    </system>
</config>
